.trnormal td {
   background-color: #FFFFFF;
 }
 .trhighlight td {
   background-color: #cccccc;
 }

img {
    max-width: 100%;
    height: auto;      
}

.nav-link[href*="edit"] {
    background-color: #e1f4dab8;
}
.nav-link[href*="edit"]:before {
    content: '✒ ';
}

.bg-eintrag {
    background-color: #E8F0E6;
}